/* .loadMoreBtn {
  margin-top: 10px;
  margin-left: 100px;
  padding: 8px 12px;
  border: none;
  background-color: goldenrod;
  color: #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.loadMoreBtn:hover {
  background-color: blueviolet;
} */


/* .container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
} */


.container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.button {
  background-color: #3f51b5;
  /* темно-синій */
  color: #fff;
  font-size: 18px;
  padding: 12px 36px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #283593;
  /* трохи світліший при наведенні */
}